input.item-checkbox {
    height: 2rem!important;
    margin-top: 10px;
}

ul.img-checkbox {
    display: flex;
}

ul.img-checkbox li {
    margin-left: 20px;
}
label {
    padding-left: 15px;
    display: flex;
    width: 100%;
}