.rate {
    display: flex;
    justify-content: flex-start;
}

.rate .ratings_stars{
    height:     15px;
    width:      16px;
    background: url(../images/200/start2.png) no-repeat;
    background-size: 16px;
    float: left !important;
    margin-right: 4px;
}
.rate .ratings_over {
    background: url(../images/200/start-active2.png) no-repeat;
     background-size: 16px;
}
.rate .ratings_hover {
    background: url(../images/200/start-hover2.png) no-repeat;
    background-size: 16px;
}
.rate .rate-np {
    font-size: 12px;
    color: #c89805;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    margin-top:0px;
    vertical-align: top;
}
span.percent {
    display: flex;
    align-items: baseline;
    font-size: 20px;
}
.register {
    width: 50%;
}

.register .card {
    border: 1px solid #cecece;
    box-shadow: 1px 2px 2px 0.5px #cac4c4;
    border-radius: 10px;
}

.register .btn.btn-success {
    margin-bottom: 34px;
    margin-top: 15px;
}
#wrap-inner {
    border: 1px solid #2bc012;
    border-radius: 10px;
}

#complete {
    font-size: 15px;
    padding: 20px;
    font-weight: bold;
}

p.info {
    font-style: italic;
    text-transform: uppercase;
    color: #2bc012;
}



.text-right.return a {margin-right: 20px;}

.search-advanced{
    display: flex;
}
.search-advanced .item-search {
    width: 15rem!important;
    margin-left: 4px;
    margin-right: 4px;
}